/* styles.css */

:root {
    --bs-body-bg: blueviolet;
}



html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}


body {
	font-family: 'Arial', sans-serif;
    background-color: #1e1e2e;
    color: #ffffff;
    text-align: center;
	
}

.layout-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header, footer {
    flex-shrink: 0;
}

main {
	padding: 20px;
    margin-top: 20px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.flex-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    flex-direction: column;
}



header {
    background: linear-gradient(90deg, #ff8c00, #ff0080);
    padding: 15px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

header h1 {
    font-size: 2rem;
    font-weight: bold;
}

nav a {
    margin: 0 10px;
    padding: 10px 20px;
    border-radius: 20px;
    font-weight: bold;
    text-transform: uppercase;
    transition: 0.3s;
    text-decoration: none;
    color: #fff;
    background-color: #007bff;
}

nav a:hover {
    background-color: #0056b3;
}


form {
    background: #aeaec1;
    padding: 20px;
    border-radius: 10px;
    width: 50%;
    margin: auto;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

form input, form button {
    display: block;
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    border: none;
}

form button {
    background-color: #ff0080;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
}

form button:hover {
    background-color: #c00060;
}

table {
    width: 80%;
    margin: auto;
    border-collapse: collapse;
}

table, th, td {
    border: 2px solid white;
    padding: 10px;
    text-align: center;
}

th {
    background-color: #ff8c00;
    color: rgb(96, 92, 92);
}

footer {
    background: #222;
    padding: 10px;
    margin-top: 20px;
}


/**HOME**/

.label {
	color: white;
}

.main-title {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 20px;
    text-transform: uppercase;
    background: linear-gradient(90deg, #ff8c00, #ff0080);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}


/**QUIZ**/

.correct {
	color: green;
}

.incorrect {
	color: red;
}

button {
    cursor: pointer;
    padding: 10px;
    border: none;
    margin: 5px;
    transition: all 0.3s ease;
}

button:hover {
    background-color: #878787;
}

.inactive {
	display: none;
}

.quizScore {
    font-size: 1.5rem;
    font-weight: bold;
    color: #ff8c00;
    margin-top: 20px;
}

.quizHint {
    font-size: 1.2rem;
    font-style: italic;
    color: #007bff;
    margin-top: 10px;
}