{% extends "base.html" %}
{% block title %}Quiz{% endblock %}

{% block content %}
	<div class="flex-wrapper">
		<h1 class="main-title">
        	<i class="fas fa-question-circle"></i> Quiz
		</h1>
		<div class="question-block">
			<form
				method="POST"
				class="quizForm">
				<p><strong>{{ question }}</strong></p>
				<ul>
					{% for option in options %}
					<li> 
						<button 
							type="submit"
							name="answer"
							value="{{ option.index }}">
							{{ option.text }}						
						</button>
					</li>
					{% endfor %}
				</ul>
			</form>
			<p class="quizHint">
				Hint: {{ correct_index }}
			</p>
		</div>
	</div>
{% endblock %}