{% extends "base.html" %}
{% block title %}Quiz{% endblock %}

{% block content %}
	<div class="flex-wrapper">
		<h1>Quiz</h1>
		<div class="question-block">
			<form
				method="POST"
				class="quizForm 
						{% if final_score is none %} 
							active
						{% else %} 
							inactive
						{% endif %}">
				<p><strong>{{ question }}</strong></p>
				<ul>
					{% for option in options %}
					<li> 
						<button 
							type="submit"
							name="answer"
							value="{{ option.index }}">
							{{ option.text }}						
						</button>
					</li>
					{% endfor %}
				</ul>
			</form>
			<p class="quizScore
						{% if final_score is not none %} 
							active
						{% else %} 
							inactive
						{% endif %}">
				Final score: {{ final_score }}

			</p>	
			<p class="quizHint">
				Hint: {{ correct_index }}
			</p>
		</div>
	</div>
{% endblock %}